<%= provide :title, @user.name %>

<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 80 %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <p id="notice"><%= notice %></p>
      <div class="col-md-6">
        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
        <p>
          <strong>Created_at</strong>
          <%= @user.created_at %>
        </p>
        <p>
          <strong>Updated_at</strong>
          <%= @user.updated_at %>
        </p>
        <p>
          <strong>Just Time Now!</strong>
          <%= Time.now %>
        </p>
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
      </div>
    </section>
  </aside>
  <div class="col-md-6">
    <% if @user.microposts.any? %>
    <h3>Microposts(<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
